#pragma once

// WiFi credentials
const char* const WIFI_SSID = "YOUR_NETWORK_SSID";
const char* const WIFI_PASSWORD = "NETWORK_PASSWORD";

// API endpoints
const char* const TIDE_API_ENDPOINT = "https://api.flowebb.com/api/tides";
